<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
      .container { max-width: 900px; }
    </style>
  </head>
  <body>

    <header class="header">
      <div class="container">
        <div class="page-header">
          <h1><a href="#/">Movie App</a></h1>
          <p class="lead">
            Your resource for Movie info.
          </p>
        </div>
        <div ng-controller="SearchController">
          <form class="form-inline-lg" ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="film title..."
                ng-model="query"
                ng-keyup="keyup()"
                ng-keydown="keydown()">

              <span class="input-group-btn">
                <button class="btn btn-default" type="button" name="button" ng-click="search()">Go! </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </header>

    <div class="container">
      <div ng-view="">

      </div>
    </div>

    <hr>

    <footer class="footer">
      <div class="container">
        <p>
          /davidpm/ | movie data from <a href="http://omdbapi.com">omdbapi.com</a>
        </p>
      </div>
    </footer>

    <script src='angular/angular.min.js'></script>
    <script src='angular-route/angular-route.min.js'></script>
    <script src='angular-resource/angular-resource.min.js'></script>
    <script src='angular-bootstrap/ui-bootstrap-tpls.min.js'></script>

    <script src="movie-app/app.js"></script>
    <script src="omdb/omdb_service.js"></script>
    <script src="movie-core/omdb_resource.js"></script>
    <script src="movie-app/home_controller.js"></script>
    <script src="movie-app/search_controller.js"></script>
    <script src="movie-app/results_controller.js"></script>

  </body>
</html>
